header{
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid #3D314A;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    }

    h1 {
        font-family: 'Fira Code', Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 3px;
        border-bottom: 3px solid #3D314A;
        
    } 
nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    display: inline-block;
    background-color: rgb(151, 151, 151);
    width: 8px;
    height: 8px;
    margin-right: 8px ;
}


#button{
    display: inline-block;
    background-color: rgb(151, 151, 151);
    box-shadow: 5px 5px 1px #3D314A;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 100ms cubic-bezier(.7,.94,1,2.19), opacity 300ms ease-in-out;
    
}
#button:hover{
    transform: scale(1.08);
    opacity: 0.9;
    
}
